# Code checkouts. Only using 91x right now.
/89x
/90x
/91x

# Where Drush is installed.
/vendor

# The settings.php points here for config import/export.
/config/*

# Just a convenient place to drop patches.
/patches/*
