# Ignore Drupal's file directory
/vendor/
web
.vagrant
bin/*
tmp
*.log
*.tmp
*.bak
*.swp
*.gz
*.sql
*.zip
playbook.retry
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
.Spotlight-V100
.Trashes
Desktop.ini
$RECYCLE.BIN/
atlassian-ide-plugin.xml
.idea
/.editorconfig
/.gitattributes
